on: 
  push:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ hashFiles('pnpm-lock.yaml') }}
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: corepack enable pnpm
      - run: pnpm install --frozen-lockfile
      - run: |
          set -e
          pnpm lint
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ hashFiles('pnpm-lock.yaml') }}
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: corepack enable pnpm
      - run: pnpm install --frozen-lockfile
      - run: |
          set -e
          pnpm test
  build:
    needs: [test, lint]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ hashFiles('pnpm-lock.yaml') }}
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: corepack enable pnpm
      - run: pnpm install --frozen-lockfile
      - run: |
          set -e
          pnpm build

